<%= multipart_uploader_form(input_name: 'uploader',
                            uploader: 'InstructionalVideoUploader',
                            button_class: 'submit-button',
                            button_text: 'Upload selected videos',
                            html: %Q{<button class="upload-button">Select videos</button>},
                            types: %w(wmv avi mp4 mkv mov mpeg)) %>
